@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
* {
    color: #303030;
    /* background-color: #fefefe; */
}

h1, h2, p,  q, li {
    font-family: 'Cardo', serif;
}

h3, h4, h5, h6, a {
    font-family: 'Source Sans Pro', 'Arial', sans-serif;
    text-transform: uppercase;
}

p, li, q {
    line-height: 20px;
    font-size: 14px;
}

/* GLOBAL STYLES */
#scroll-container {
    max-height: 100vh;
    overflow: auto;
    scroll-snap-type: y mandatory;
    /* background-color: #303030; */
}

section {
    max-width: 100vw;
    min-height: 100vh;
    /* max-height: 100vh; */
    display: flex;
    flex-direction: column;

    /* scroll-snap-align: start; */

    /* max-height: 100vh; */
    overflow: visible;
    scroll-snap-type: y mandatory;
    /* border: solid 2px green; */
}

section.info-plot {
    padding: 0 20%;

    display: grid;
    grid-template-columns: 222px 1fr;
    column-gap: 96px;

    position: relative;
    background-color: #fcfcfc;
}

section.info-plot.centered {
    padding: 0 20%;

    display: grid;
    grid-template-columns: 1fr 1px;
    column-gap: 0;

    position: relative;
    background-image: url(../images/intro.jpg);
    background-size: cover;
    background-attachment:scroll;
    /* perspective: 8px;
    perspective-origin: 50%; */
}

section.info-plot.txt-centered {

    padding: 0 20%;

    display: flex;
    grid-template-columns: 1fr 3fr;
    column-gap: 0;

    position: relative;
    height: 100vh;
}

section.info-plot.txt-centered .text-half {
    /* position: absolute; */
    /* height: 100vh; */
    /* width: 100vw; */
    z-index: 2;
    width: 80%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;  
    padding-left: calc(20% - 24px);
    align-items: flex-start;
}

section.info-plot.txt-centered article > article.paragraph {
    align-items: flex-start;
}

section.info-plot.txt-centered .graphic-half {
    /* position: absolute; */
    /* height: 100vh; */
    /* width: 100vw; */
    z-index: 1;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;  
    /* background-color: #0e1318af */
    filter: brightness(60%)
}

section.info-plot.txt-centered.map, section.info-plot.txt-centered.map > article {
    height: 200vh;
}



.centered > .graphic-half {
    display: none;
}


section.info-plot > article:first-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: #bfb48f25; */
    /* bacg */
    /* border-left: 5px solid #BFB48F; */
    /* padding: 0 48px; */

    /* overflow: visible; */
    /* scroll-snap-align: start; */
}

section.info-plot.centered > article:first-child, section.info-plot.txt-centered > article:first-child  {
    background-color: transparent;
}

section.info-plot.txt-centered > .graphic-half{

}

section.info-plot.centered .paragraph {
    width: 400px;
    text-align: center;
}

section.info-plot.txt-centered .paragraph {
    width: 270px;
    /* left: -20vw; */
    /* position: relative; */
    /* text-align: left */
}

section.info-plot.txt-centered .paragraph p {
    padding: 24px;
    filter: drop-shadow(0 0 2px #909090);
    background-color: #fefefeaf;
    border-radius: 4px;
    /* border: solid 2px #BFB48F; */
}


section.info-plot.centered .paragraph p {
    padding: 24px;
    filter: drop-shadow(0 0 2px #909090);
    background-color: #fefefeaf;
    border-radius: 4px;
    /* border: solid 2px #BFB48F; */
}

section.info-plot article > article.paragraph:not(:first-child), section.info-plot article p:not(:first-child) {
    padding-top: 24px;
}

section.info-plot article > article.paragraph {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    scroll-snap-align: start;
    /* border: solid 4px salmon; */
}

section.info-plot article > article.paragraph > h3 {
    color: #999999;
    /* padding-bottom: 1.5em; */
}

/* ///////// #LANDING //////// */
/* Titles */
h1 {
    font-size: 48px;
    font-weight: bold;
}

h3, a {
    font-size: 16px;
    line-height: 20px;
}

/* Jump buttons */
a {
    font-weight: 600;
    text-decoration: none;
    border: 1.5px solid #303030;
    border-radius: 24px;
}

a, a * {
    transition: all 0.25s ease-out;
}

section#landing a svg {
    margin-top: 0;
    margin-left: 6px;
    background-color: transparent;
}

a:hover {
    color: #fefefe;
    background-color: #303030;
}

a:hover > svg {
    color: #fefefe;
    background-color: #303030;
}

a:hover > svg > path {
    fill: #fefefe;
}

section#landing {
    /* spline svg settings */
    background-image: url(../images/spline.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 720px auto;

    /* text content */
    justify-content: center;
    align-items: center;
    
    /* scroll-snapping */
    scroll-snap-align: start;
}

section#landing * {
    max-width: 300px;
    text-align: center;
    margin-top: 12px;
}

section#landing a {
    margin-top: 2em;
    padding: 6px 24px;
}

/* INTRO */
.centred {

    /* background-clip: border-box; */
}

/* GRAPHIC HALF */
.graphic-half {
    /* display: flex; */
    /* align-items: center;
    justify-content: center; */
}

.graphic-half img {
    position: sticky;
    top: 10vh;
    /* height: 80vh; */
    width: 100%;
}

/* PLOTS */

.plot {
    position: sticky;
    top: 0;
    width: 100%;
    height: 100vh;
    font-weight: 600;
    text-transform: uppercase;
    /* font-size: 8px; */
    /* padding-right: 2em; */
    /* padding: 2em; */
    /* border: 2px solid salmon; */
    /* background-color: blue; */
    /* filter: drop-shadow(0 0 2px #909090); */
    /* background-color: #fefefe; */
    border-radius: 4px;
}
.plot > * {
    /* padding: 2em; */
}

/* DOT CONTAINER */
.dot-container {
    position: fixed;
    height: 50%;
    right: calc(5% - 1em);
    top: calc((100vh - 50%)/2);

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    opacity: 0;

    transition: all 0.2s ease-out;
    z-index: 5;
}

.dot {
    /* font-size: 8px; */
    /* min-width: 8px; */
    /* min-height: 10px; */
    margin-right: 1em;
    padding: 4px;
    transform: scale(1);
    margin-left: 12px;

    background-color: #303030;
    /* width: 10px;
    height: 10px;
    transform-origin: center;
    transform: scale(0.6);
    margin: 0.25em 0;
    border-radius: 10px;
    background-color: #303030; */
}

/* .dot:hover {
    transform: scale(1);
    cursor: pointer;
    border-radius: 20px;
}

.dot.active {
    transform: scale(1);
    border-radius: 20px;
} */

.dot-container label {
    margin: 5px 0;
    font-size: 12px;
    position: relative;
    text-align: right;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    font-family: 'Source Sans Pro', 'Arial', sans-serif;
    text-transform: uppercase;
    color: #303030;
}

.dot-container.white label h6 {
    color: #fefefe;

}

.dot-container.white .dot {
    background-color: #fefefe;
    border-color: #fefefe;
}

label > h6 {
    color: #303030;
    visibility: hidden
}


/* label:hover > h6 {

} */

.dot:hover ~ h6, h6.active{
    visibility: visible;
    cursor: pointer;
}

.dot:hover, label:hover > .dot, .dot.active {
    transform: scale(1.3);
    cursor: pointer;

    /* transform-origin: center; */
    /* padding: 8px; */
}

/* h6.active {
    visibility: visible;
} */

/* SIDE HEADING */
h1.side-heading {
    color: #eeeeee;
    position: fixed;
    writing-mode: vertical-lr;
    text-align: center;
    transform: rotate(180deg);
    left: 5%;
    height: 80vh;
    top: 10vh;
}

/* DEFINITION HIGHLIGHT */
i {
    text-decoration: underline dotted;
}

i > label.definition > strong {
    font-weight: 700;
    color: #fefefe;
}

i > label.definition {
    z-index: 5;
    font-size: 12px;
    position: absolute;
    left: calc(20% + 256px);
    visibility: hidden;
    border-radius: 4px;
    width: 20%;
    filter: drop-shadow(0 0 2px #909090);
    background-color: #303030;
    color: #fefefe;
    padding: 16px;
    transition: all 0.1s ease-out;
    /* border: solid 2px #904E55; */
    /* border: solid 2px #564E58; */
    /* border: solid 2px #C3C9CE; */
    /* border: solid 2px #BFB48F; */
    opacity: 0;
}

i:hover > label.definition {
    visibility: visible;
    opacity: 1;
}

/* LISTS */
ul {
    list-style: disc inside;
    text-indent: -1.35em;
    padding-left: 2em;
}

/* draw attention with quotes */
q {
    /* font-size: 18px; */
    /* line-height: 24px; */
    font-weight: 700;
    /* margin-top: 12px; */

}

mark.letter {
    font-size: 64px;
    background-color: transparent;
}

/* LEGEND DISABLING */
.plot .legend .traces .legendtoggle {
    display: none;
 }

 .legend {
     width: 200px;
 }

 g.g-xtitle, g.g-ytitle, g.g-y2title {
     text-transform: capitalize;
     font-weight: bold;

 }

 g.g-title {
     /* text-transform: 1 */
     /* font-weight: 700; */
 }


 /* ///// bubble text ///////// */
.bubbles {
    /* display: grid; */
    display: flex;
    flex-wrap: wrap;
    /* grid-template-rows: 1fr 1fr 1fr; */
    /* grid-template-columns: 1fr 1fr 1fr; */
    /* flex-wrap: wrap; */
    position: sticky;
    top: 0;
}

.bubble {
    flex-grow: 1;
    max-width: 120px;
    /* height: auto; */
    /* width: 100%; */
    /* padding-top: 100%; */
    /* flex: 1; */
    border-radius: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #904E55;
}

.bubbles ~ .plot {
    display: none;
}

.bubble p {
    text-transform: uppercase;
    color: white;
    text-align: center;
    padding: 24px;
    font-family: 'Source Sans Pro', 'Arial', 'sans-serif';
    font-weight: 700;
}

.graphic-half img {
    object-fit: cover;
    height: 100vh;
    /* top: 0; */

}

img ~ .plot {
    display: none;
}